spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${MONGODB_DATABASE}

adafruit:
  io:
    username: ${ADAFRUIT_USERNAME}
    key: ${ADAFRUIT_KEY}
    mqtt:
      clientId: iot-backend-client-prod